<nz-content class="p-20">
  <section nz-row>
    <section nz-col *ngIf="a">
      <h2>
        {{ a.name }}
      </h2>

      <ul nz-list [nzDataSource]="a.children" nzBordered nzSize="large">
        <li nz-list-item *ngFor="let entry of a.children" nzNoFlex>
          <ul nz-list-item-actions>
            <nz-list-item-action>
              <a (click)="checkMd5(entry)" *ngIf="!entry.md5Checked">Check MD5</a>
              <span *ngIf="entry.md5Checked">MD5 checked</span>
            </nz-list-item-action>
            <nz-list-item-action *ngIf="!entry.downloading">
              <a (click)="download(entry)" *ngIf="!entry.md5Checked">
                Download
              </a>
            </nz-list-item-action>
            <nz-list-item-action *ngIf="entry.downloading">
              Downloading... {{ entry.size | json }}
            </nz-list-item-action>
          </ul>
          {{ entry.name }} {{ entry.downloading }}
        </li>
      </ul>
    </section>
  </section>
</nz-content>
